<div class="form-box">
<%= form_for(@planet) do |f| %>
  <h4><%= f.label :name %><br>
  <span class="form-field-sockname"><%= f.text_field :name %></span></span></h4>
  <%= f.submit %>
<% end %>
</div>
