<div class="container">
  <h1> All Climates </h1>

  <table id="climates-table" class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
      <td><%= style.name %></td>
      <td><%= link_to "Edit", edit_admin_style_path(style) %></td>
      <td>
      <%= link_to "Delete", admin_style_path(id: style, change_active: "true"), method: :patch %>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
