<div class="container">
  <h2 class="text-center">Update <%= @space.name %></h2>
    <%= button_to "Add Another Host", "/hosts/#{@space.slug}/new", method: :get, class: "btn btn-custom btn-person center-block" %>
<%= render partial: "form", locals: { space: @space } %>

</div>
