<div class="container spaces row-well" id="all_spaces">
  <% @spaces.each do |space| %>
  <div class="col-md-4 col-sm-6 one-space">
    <div id="space-index-image">
      <%= image_tag space.image_url.url(:medium), size: "250x300" %>
    </div>
    <div id="space-index-info">
      <h4 class="space-label"><%= link_to space.name, space_path(space) %></h4>
      <%= number_to_currency(space.price) %>
    </div>
  </div>
  <% end %>
</div>
