<div class="col-md-6">
  <div class="text-center">
  <span class="filter-padding"><strong>Filters:</strong></span>
  Climate <%= select("space", "filter_climates", @styles, selected: "All Spaces") %>
</div>
</div>
