<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="sizing-footer">
    <span class="navbar-text"></span>
    <span class="pull-right navbar-text">&copy; 2016 Wookie Nights  All rights reserved.</span>
  </div>
</nav>
