<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="sizing-footer">
    <span class="navbar-text">C in a circle for copyright. Maybe?</span>
    <span class="pull-right navbar-text">Wookie Nights</span>
  </div>
</nav>
