<div class="navbar navbar-default search-bar">
  <div class="container-fluid">
    <div class="row" id="search-fields">
      <%= render "shared/search_fields", search_hash: search_hash %>
    </div>
    <div class="row" id="filter-nav">
      <%= render 'shared/filter_nav' %>
    </div>
  </div>
</div>
