<div class="container spaces row-well" id="all_spaces">
  <% @spaces.each do |space| %>
  <div class="col-md-4 col-sm-6 one-planet">
    <div id="space-index-image">
      <%= image_tag space.image_url.url(:medium), size: "250x300" %>
    </div>
    <div class="well well-lg">
      <h4 class="space-label" style="float:left"><%= link_to space.name, space_path(space) %></h4>&nbsp;<h4 style="float:right"><%= number_to_currency(space.price) %></h4>
    </div>
  </div>
  <% end %>
</div>
