<img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2015/10/Seastrom_HeaderPhoto-2400x1200-900792609620.jpg" id="home-splash"></img>
<h1 class="tagline_home">"Chewie, we're home!"</h1>
<h4 class="bookline_home">Book spaces from local hosts on 12+ planets.</h4>

<div class="search row home-well form-group">
  <%= render "shared/search_fields" %>
</div>
